body {
  font-family: 'Poppins', sans-serif;
  background: #f4f6f8;
  margin: 0;
  padding: 0;
}
.logo {
  color: #FFD700;
  font-weight: bold;
}
.hero {
  background: url('assets/kaaba.jpg') center/cover no-repeat;
  padding: 60px;
  text-align: center;
  color: white;
}
.btn {
  background-color: #FFD700;
  padding: 10px 20px;
  text-decoration: none;
  color: #000;
  border-radius: 5px;
}